/* Mobie */
@media all and (max-width: 480px) {
 
}
/*Tablet */
@media all and (min-width: 600px) 
{
}
@media all and (min-width: 1024px) 
{
        
}
/* Desktop */                                   
@media all and (min-width: 1280px)
{
body {
margin-top: 0px;
margin-bottom: 0px;
}

.head
{
    color:#081436;
    font-weight:bold;
    text-align:center;
    height:50px;
}
.row {
    display:table;
   /* border: 1px solid green;*/
    width: 100%; /* it changes by screen size actually */
    padding: 5px;
   
}
.row:before, .row:after {
    content: "";
}
.row:after {
    clear: both;
}
.col {
    float: left;
    width: 33.3%;
   
}
.box {
    border: 3px solid #F6B70A;
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color:#B4AFA3;
    text-align:justify;
   
   
}
.col:first-child .box {
    margin-left: 0;
}
.col:last-child .box {
    margin-right: 0;
}
.childCol1
{
    position:relative;
    border-bottom:3px solid #35363B;
    border-left:3px solid #35363B;
    background-color:#0A3CCB;
  
    width:150px;
    height:40px;
    float:right;
    text-align:center;
    color:White;
  
}

.childCol2
{     
    position:relative;
    top: 10px;
    left: 0px;
    width:100%;    
    border:2px solid #F6B70A;   
    background-color:#B4AFA3;
}
.childCol3
{
    position:relative;
    border-bottom:3px solid #35363B;
    border-left:3px solid #35363B;
    background-color:#0A3CCB;
  
    width:90%;
    height:40px;
    float:right;
    text-align:center;
    color:White;
    padding: 5px;
  
}
.colTwo
{
    float: left;
    width: 50%;
      
}
.colTwo:first-child .box {
    margin-left: 0;
}
.colTwo:last-child .box {
    margin-right: 0;
 }
} 
